h3 {background-color: rgb(203, 206, 9); color: rgb(234, 234, 184);text-decoration: overline;}
h4 {background-color: rgb(13, 132, 13); color: rgb(181, 223, 181);text-decoration: underline;}
h5 {background-color: rgb(8, 133, 133); color: rgb(183, 242, 242);text-decoration: line-through;}
h6 {background-color: rgb(175, 12, 175); color: rgb(233, 195, 233);text-decoration: underline;}