.hero {
    min-height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('https://wallpapercave.com/wp/wp11855878.jpg') center/cover;
}

.pfp {width: 150px; height: 150px; border-radius: 50%; object-fit: cover;}